table.subtable th {
  padding: 11px;
}

table.subtable th, table.subtable td{
  border: none !important;
}

table.selectable tr
{
  cursor: pointer;
}

span.isian{
  text-align: right;
  float: right;
}

.ui.sidebar {
  overflow: visible !important;
}

.ui.main.rcr {
  padding-left: 14rem !important;
}

.control-label
{
  width: 30% !important;
}
